<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shipsensor.inter.PortMapper">

    <insert id="insertBatch">
        INSERT INTO port (
            wpi_id,
            port_name,
            country,
            country_code,
            port_code,
            port_type,
            latitude,
            longitude,
            max_ship_length,
            max_draft
        ) VALUES
        <foreach collection="list" item="port" separator=",">
            (
                #{port.wpiId},
                #{port.portName},
                #{port.country},
                #{port.countryCode},
                #{port.portCode},
                #{port.portType},
                #{port.latitude},
                #{port.longitude},
                #{port.maxShipLength},
                #{port.maxDraft}
            )
        </foreach>
    </insert>

</mapper>
